.App {
  text-align: center;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navContainer {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  background-color: #1abc9c;
  padding: 0.5%;
  border-radius: 0.2em;
  
}

.linkContainer{ 
  font-family: Maven Pro;
  display: flex;
  justify-content:space-around;
  width: 80%;
  margin-left: 18em;
  text-decoration: none;
  font-weight: 500;

  }
  
.navTitle {
  display: flex;
  justify-content:first baseline;
  margin-left: 5em;
  font-family: Pacifico;
}

.movieDetails{
  padding-top: 2em;
  font-family: Maven Pro
}

.RequestHeader{
  font-family: Maven pro;
  font-size: 35px
}
.RequestInput{
  font-family: Maven Pro;
  width: 25%
}
.RequestBtn{
  font-family: Maven Pro;
  width: 5%;
  background-color: #1abc9c;

}
@import "./footer.css";
@import "./count.css";
@import "./filmReq.css";