.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border: 2em;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
  }

